<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>create</title>
</head>
<body>
  <h1><a href="/main">메인페이지로 가기</a></h1>
  <h2>글쓰기</h2><hr>
  <form action="/create" method="POST">
    <input name="title" type="text" placeholder="제목" style="width: 700px; height: 50px;">
    <br><br>
    <p><textarea name="body" style="width: 700px; height: 400px;"></textarea></p>
    <input type="submit" value="작성하기" style="width: 100px; height: 50px;">
  </form>
</body>
</html>