<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/CSS/style.css">
  <title>login</title>
</head>
<body>
  <h1>로그인</h1>
  <div id="container">
    <div class="input-group">
      <form action="/" method="POST">
        <input name="user_id" type="text" placeholder="아이디">
        <br>
        <input name="user_ps" type="password" placeholder="비밀번호">
        <br>
        <input type="submit" value="로그인">
      </form>  
    </div>
    <br>
    <a href="/register"><button style="width: 200px; height: 50px;">회원가입 하러 가기</button></a>
  </div>
</body>
</html>